<!-- projects/templates/projects/project_detail.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="row">
        <div class="col-md-8">
            {% if project.image %}
                <img src="{{ project.image.url }}" width="100%">
            {% endif %}
        </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-4">
        {% if project.video_demo %}
            <h2>Video Demonstration</h2>
            <video width="100%" controls>
                <source src="{{ project.video_demo.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endif %}
    </div>
</div>
{% endblock page_content %}

{% comment %} this code was originally copied from a tutorial at https://realpython.com/get-started-with-django-1/ and has been modified by me {% endcomment %}
